* {
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth; 
}


@font-face {
  font-family: Quicksand;
   src: url("assets/fonts/Quicksand-VariableFont_wght.ttf");
 }


.container {
  max-width: 1440px;
  margin: 0 auto;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  /* padding: 0px 100px 0px 100px; */
} 


.header {
  position: relative;
  border: 1px solid red;
  width: 100%;
  height: 100px;
}


.nav-list {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  list-style: none;
}


.nav-link {
  padding: 0 20px;
  line-height: 50px;
  font-family: Quicksand;
  font-size: 36px;
  text-decoration: none;
  transition: .3s;
  color: #000000;
}


.nav-link:hover {
  color: #1426c7;
}  


h1 {
  font-size: 42px;
  font-weight: 400;
}

/* 
.name {
  line-height: 0%;
} */


.section-title {
  font-family: Quicksand;
  /* font-size: 36px; */
}

.section-title-title {
  margin-top: -38px;
  font-family: Quicksand;
  font-size: 26px;
}


#name {
  position: relative;
}


.avatar {
  float: left;
  /* border-radius: 20px 20px 20px 20px; */
  padding: 0 20px 20px 0;
  width: 20%;
  height: 20%;
}


#contacts {
  position: relative;
  margin-top: 310px;
}


.main {
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 1000px;
}


.footer {
  position: relative;
  border: 1px solid green;
  width: 100%;
  height: 100px;
  
}

.logo {
  width: 200px;
  height: 100px;
  padding-top: 10px;
}




